#about-us {
    .row {
        @include section-padding;
    }
    .img-aboutus {
        padding: 3px;
        border: 1px solid $grey;
        margin-right: 15px;
    }
    .orange-line {
        color: $orange;
        border-left: 10px solid $orange;
        padding-left: 15px;
        margin: 50px 30px;
    }

    p {
        margin-bottom: 20px;
    }
}